<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>SORTEO</h1>
	<h3>Instrucciones</h3>
	- Indique el nombre de los premios que desea sortear. Un premio por linea y por orden de importancia.
	<br/>
	- Indique el nombre de todos los participantes en el sorteo y, separado por una coma, el numero de tickets del que disponen. (p.e: "Barbara,3")
	<br/>
	- Pulse SORTEAR
    <br/>
    <br/>
    <form action="#" th:action="@{/raffle}" th:object="${raffle}" method="post">
    	<p>Que sorteamos??: <br/><textarea  rows="4" cols="50" th:field="*{prizes}" /></p>
    	<p>Quien participa??: <br/><textarea  rows="15" cols="50" th:field="*{candidates}" /></p>
    	<p><input type="submit" value="SORTEAR" /> <input type="reset" value="BORRAR" /></p>
    </form>
</body>
</html>